[submodule "f2_interpolator"]
	path = f2_interpolator
	url = git@bwrcrepo.eecs.berkeley.edu:dsp-blocks/chisel/f2_interpolator.git
[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/freechipsproject/rocket-chip.git
