[submodule "f2_interpolator"]
	path = f2_interpolator
	url = git@github.com:Chisel-blocks/f2_interpolator.git
[submodule "prog_delay"]
	path = prog_delay
	url = git@github.com:Chisel-blocks/prog_delay.git
[submodule "clkmux"]
	path = clkmux
	url = git@github.com:Chisel-blocks/clkmux.git
